.App {
  text-align: center;
}

.single-photo-wrapper {
  position: relative;
  width: 46%;
  padding: 2%;
}

.single-photo-wrapper img {
  width: 100%;
  display: block;
  cursor: pointer;
}

.single-photo-wrapper .list-btn {
  position: absolute;
  display: flex;
  right: 50px;
  top: 50px;
  display: none;
}

.single-photo-wrapper:hover .list-btn {
  display: block;
}

.single-photo-wrapper .list-btn .btn {
  width: 100px;
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
}
